.login {
    background: url(img/school\ img.jpg);
    width: 700px;
    height: 500px;
    background-size: cover ;
    background-position: center;
    display: flex;
    border-radius: 15px;
    box-shadow: 0px 0px 25px black;
    overflow: hidden;
}
form {
    background: aliceblue;
    box-sizing: border-box;
    width: 50%;
    padding: 40px;
    flex-direction: column;
    display: flex;
    gap: 20px;
}
h1 {
    font-size: 30px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
label {
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgb(100,100,100);
}
input {
    width: 200px;
    border: none;
    border-bottom: 2px solid #333;
    padding: 10px 0px;
    outline: none;
}
input:focus {
    border-bottom: 2px solid #fdd406;
}
button {
    margin-top: 20px;
    width: 140px;
    border: none;
    background: black;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 12px;
    box-shadow: 2px 2px 0px green;
}
button:hover {
    background: green;
    color: #333;
}
